{% extends 'home/base.html' %}
{% load static %}

{% block additional_header %}
<link href="{% static 'curriculum/base.css' %}" rel="stylesheet"/>
{% endblock additional_header %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <!-- Quiz Title -->
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>{{ quiz_name }}</h4><span>({{ pager_now }} daripada {{ page_total }})</span>
                    </div>
                </div>
                <form class="question bg-white p-3 border-bottom" id="q_form" method="POST">
                    {% csrf_token %}
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">S{{ page_now }}.</h3>
                        <h5 class="mt-1 ml-2">{{ question }}</h5>
                    </div>
                    <fieldset id="option_group">
                        <div class="ans ml-2">
                            <label class="radio"> <input name="option_group" type="radio" value="{{ op1 }}">
                                <span>A. {{ op1 }}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input name="option_group" type="radio" value="{{ op2 }}">
                                <span>B. {{ op2 }}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input name="option_group" type="radio" value="{{ op3 }}">
                                <span>C. {{ op3 }}</span>
                            </label>
                        </div>
                        <div class="ans ml-2">
                            <label class="radio"> <input name="option_group" type="radio" value="{{ op4 }}">
                                <span>D. {{ op4 }}</span>
                            </label>
                        </div>
                    </fieldset>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                    <button class="btn btn-primary d-flex align-items-center btn-danger" type="button">
                        <i class="fa fa-angle-left mt-1 mr-1"></i>
                        Sebelumnya
                    </button>
                    <button class="btn btn-primary d-flex align-items-center btn-warning" type="submit" form="q_form">
                        Hantar
                    </button>
                    <button class="btn btn-primary border-success align-items-center btn-success" type="button">
                        Seterusnya
                        <i class="fa fa-angle-right ml-2"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}