{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>{{ title }}</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex, nofollow">
        <meta name="googlebot" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

        <link href="{% static 'accounts/base.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <script src="{% static 'accounts/base.js' %}"></script>
        <!-- Footer-->
        <footer class="py-3">
            <div class="container">
                <div class="small text-center" style="color: white;">Copyright © 2020 Jared Liw Zhi Long - All Rights Reserved.
                </div>
            </div>
        </footer>
    </body>
</html>
