{%extends 'home/base.html' %}
{% load static %}

{% block additional_header %}
<link href="{% static 'curriculum/base.css' %}" rel="stylesheet" />
{% endblock additional_header %}

{% block content %}
<div class="container pt-4">
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-8">
            <h1 class="mt-4">{{ title }}</h1>
            <p class="lead">
                <small>karya</small>
                <a>{{ author }}</a>
            </p>
            <hr>
            <!-- Preview Image -->
            <img class="img-fluid rounded" src="{% static '' %}{{ cover_img }}" alt="" width="900px" height="300px">
            <hr>
            <!-- Content -->
            <p class="lead">{{ subtitle }}</p>
            {% block material %}
            {% endblock material %}
            <hr>
            <p>Uji kefahaman anda tentang topik ini dengan mengambil kuiz di bawah:</p>
            <div class="text-center">
                <form action="/">
                    <input type="submit" class="btn btn-primary" value="Kuiz"/>
                </form>
            </div>
            <hr>
            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Tinggalkan komen anda:</h5>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" placeholder="Nama anda" name="username"/>
                            <br>
                            <textarea class="form-control" rows="3" placeholder="Komen" name="comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Hantar</button>
                    </form>
                </div>
            </div>
            <!-- Single Comment -->
            {% if comments %}
                {% for comment in comments %}
                    {% if comment.page == page %}
                        <div class="media mb-4">
                            <img class="d-flex mr-3 rounded-circle" src="{% static 'images/user_img.png' %}" alt="" width="50px" height="50px">
                            <div class="media-body">
                                <h5 class="mt-0">{{ comment.username }}</h5>
                                {{ comment.content }}
                            </div>
                            <small>{{ comment.date }}</small>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Hyperlinks Widget -->
            <div class="card my-4">
                <h5 class="card-header">Kurikulum</h5>
                <div class="card-body">
                    <div class="row" style="padding-left: 20px;">
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="/curriculum/computational_thinking">Teknik Pemikiran Komputasional</a>
                            </li>
                            <li>
                                <a href="/curriculum/data_representation">Perwakilan Data</a>
                            </li>
                            <li>
                                <a href="/curriculum/algorithms">Algorithma</a>
                            </li>
                            <li>
                                <a href="/curriculum/code">Kod Arahan</a>
                            </li>
<!--                            <hr>-->
<!--                            <li>-->
<!--                                <a href="#">Kalkulator Penukaran Asas</a>-->
<!--                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Quote -->
            <div class="card my-4">
                <h5 class="card-header">Kata-kata Hikmat</h5>
                <div class="card-body">
                    <blockquote class="blockquote">
                <p class="mb-0">{{ quote }}</p>
                <footer class="blockquote-footer">
                    <cite title="Source Title">{{ quote_author }}</cite>
                </footer>
            </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}