{% extends 'curriculum/base.html' %}
{% load static %}

{% block material %}
<div class="input-group mb-3">
    <input id="from-value" type="text" class="form-control" aria-describedby="basic-addon1"
           oninput="convertBase('from')">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon1">asas 10</span>
    </div>
</div>
<hr>
<div class="input-group mb-3">
    <input id="to-value" type="text" class="form-control" aria-describedby="basic-addon2" oninput="convertBase('to')">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">asas 2</span>
    </div>
</div>
<div id="error-msg" class="alert alert-danger" style="display: none;"></div>
{% endblock material %}