{% extends 'curriculum/base.html'%}
{% load static %}

{% block material %}
<p class="has-line-data" data-line-start="0" data-line-end="1"><strong>Kod arahan</strong> merupakan <strong>satu arahan
    yang mengarahkan komputer melakukan sesuatu tugas</strong>. Contoh bahasa pengaturcaraan yang digunakan adalah
    seperti <strong>Visual Basic</strong> , <strong>JAVA</strong> , <strong>Visual C++</strong> ,
    <strong>Python</strong> dan lain-lain.</p>
<hr>
<p class="has-line-data" data-line-start="4" data-line-end="5"><strong>Pemboleh ubah</strong> ialah <strong>storan
    ingatan</strong> yang digunakan oleh program komputer untuk menyimpan data yang perlu diolahkan kemudian.</p>
<hr>
<p class="has-line-data" data-line-start="8" data-line-end="10"><strong>Operator matematik</strong> ialah simbol-simbol
    seperti tambah(+), tolak(-), darab(x) dan bahagi(÷)<br>
    yang digunakan dalam menjalankan operasi matematik dalam kod arahan.</p>
<hr>
<h3 class="code-line" data-line-start=13 data-line-end=14><a id="Struktur_Kawalan_Pilihan_13"></a>Struktur Kawalan
    Pilihan</h3>
<pre><code class="has-line-data" data-line-start="15" data-line-end="19">IF = pilihan tunggal
IF...ELSE = dwipilihan
IF...ELSE IF...ELSE = pelbagai pilihan
</code></pre>
<hr>
<h3 class="code-line" data-line-start=22 data-line-end=23><a id="_Scratch_20__22"></a><em>Scratch 2.0</em></h3>
<p class="has-line-data" data-line-start="23" data-line-end="24"><em>Scratch</em> merupakan satu <strong>bahasa
    pengaturcaraan berbasis visual yang interaktif dan menarik</strong>.</p>
<p class="has-line-data" data-line-start="25" data-line-end="26">Dalam atur cara <em>Scratch 2.0</em>, blok-blok yang
    digunakan untuk struktur ulangan ialah:</p>
<ul>
    <li class="has-line-data" data-line-start="26" data-line-end="28">forever</li>
</ul>
<p class="has-line-data" data-line-start="28" data-line-end="29"><img src="{% static 'images/20.png' %}" alt=""></p>
<ul>
    <li class="has-line-data" data-line-start="29" data-line-end="31">repeat</li>
</ul>
<p class="has-line-data" data-line-start="31" data-line-end="32"><img src="{% static 'images/21.png' %}" alt=""></p>
<ul>
    <li class="has-line-data" data-line-start="32" data-line-end="34">repeat-until</li>
</ul>
<p class="has-line-data" data-line-start="34" data-line-end="35"><img src="{% static 'images/22.png' %}" alt=""></p>
<hr>
<h3 class="code-line" data-line-start=38 data-line-end=39><a id="Pembangunan_atur_cara_38"></a>Pembangunan atur cara
</h3>
<p class="has-line-data" data-line-start="39" data-line-end="40">Pembangunan atur cara melibatkan 5 fasa iaitu:</p>
<ol>
    <li class="has-line-data" data-line-start="40" data-line-end="41"><strong>Analisis masalah</strong></li>
    <li class="has-line-data" data-line-start="41" data-line-end="42"><strong>Reka bentuk program</strong></li>
    <li class="has-line-data" data-line-start="42" data-line-end="43"><strong>Pengekodan</strong></li>
    <li class="has-line-data" data-line-start="43" data-line-end="44"><strong>Pengujian dan penyahpepijatan</strong>
    </li>
    <li class="has-line-data" data-line-start="44" data-line-end="46"><strong>Dokumentasi</strong></li>
</ol>
<hr>
<h4 class="code-line" data-line-start=48 data-line-end=49><a id="Analisis_masalah_48"></a>Analisis masalah</h4>
<p class="has-line-data" data-line-start="49" data-line-end="50">Pengatur cara perlu <strong>mengetahui kehendak
    pelanggan</strong> untuk menentukan input, proses dan output bagi atur cara yang hendak dibangunkan</p>
<hr>
<h4 class="code-line" data-line-start=53 data-line-end=54><a id="Reka_Bentuk_Program_53"></a>Reka Bentuk Program</h4>
<p class="has-line-data" data-line-start="54" data-line-end="55">Pengatur cara mula <strong>menulis pseudokod, melakar
    carta alir dan mereka bentuk Antara Muka Pengguna Grafik <em>(Grapical User Interface, GUI)</em></strong></p>
<hr>
<h4 class="code-line" data-line-start=58 data-line-end=59><a id="Pengekodan_58"></a>Pengekodan</h4>
<p class="has-line-data" data-line-start="59" data-line-end="60"><strong>Pseudokod akan ditukarkan kepada kod yang
    difahami oleh komputer</strong> dengan menggunakan bahasa pengaturcaraan seperti <em>Visual Basic</em>,
    <em>Java</em> ataupun <em>Visual C++</em>.</p>
<hr>
<h4 class="code-line" data-line-start=63 data-line-end=64><a id="Pengujian_dan_penyahpepijatan_63"></a>Pengujian dan
    penyahpepijatan</h4>
<p class="has-line-data" data-line-start="64" data-line-end="65">Atur cara yang ditulis akan diuji untuk <strong>mengesan
    dan membetulkan sebarang ralat</strong> yang terdapat pada atur cara.</p>
<hr>
<h4 class="code-line" data-line-start=68 data-line-end=69><a id="Dokumentasi_68"></a>Dokumentasi</h4>
<p class="has-line-data" data-line-start="69" data-line-end="70">Proses menghasilkan <strong>laporan proses
    pembangunan</strong> peringkat awal hingga akhir proses. Terdapat dua jenis dokumentasi iaitu <strong>dokumentasi
    dalaman</strong> (untuk kegunaan pelanggan) dan <strong>dokumentasi luaran</strong> (untuk pengguna akhir yang
    menggunakan atur cara).</p>
<hr>
<h4 class="code-line" data-line-start=73 data-line-end=74><a id="Ralat_73"></a>Ralat</h4>
<p class="has-line-data" data-line-start="74" data-line-end="75">Ralat yang terdapat dalam atur cara akan menyebabkan
    atur cara tidak dapat beroperasi dengan betul,terdapat <strong>3 jenis ralat</strong> iaitu:</p>
<h6 class="code-line" data-line-start=76 data-line-end=77><a id="Ralat_Sintaks_76"></a>Ralat Sintaks</h6>
<p class="has-line-data" data-line-start="77" data-line-end="78">Berlaku semasa proses menulis kod arahan tidak mengikut
    sintaks bahasa pengaturcaraan sehingga tidak dapat difamahi oleh komputer.</p>
<p class="has-line-data" data-line-start="79" data-line-end="80">Contoh: menaip alamat e-mel sebagai
    <strong>“dotcom”</strong> dan bukan <strong>“.com”</strong></p>
<h6 class="code-line" data-line-start=81 data-line-end=82><a id="Ralat_Masa_Larian_81"></a>Ralat Masa Larian</h6>
<p class="has-line-data" data-line-start="82" data-line-end="83">Berlaku semasa sesuatu program sedang dilancarkan
    disebabkan oleh program dan bukan sistem operasi.</p>
<p class="has-line-data" data-line-start="84" data-line-end="85">Contoh: <strong>perisian hasad <em>(malicious
    software)</em></strong> seperti <strong>virus</strong> atau <strong>cecacing</strong>, <strong>kepincangan atur cara
    <em>(program flaw)</em></strong>, <strong>pepijat <em>(bug)</em></strong> dan <strong>ingatan yang tidak mencukupi
    <em>(insufficient memory)</em></strong>.</p>
<h6 class="code-line" data-line-start=86 data-line-end=87><a id="Ralat_logik_86"></a>Ralat logik</h6>
<p class="has-line-data" data-line-start="87" data-line-end="88">Berlaku apabila terdapat kesilapan logik pengaturcaraan
    sehingga menyebabkan atur cara menghasilkan output yang tidak diingini.</p>
<p class="has-line-data" data-line-start="89" data-line-end="90">Contoh: Menggunakan formula matematik yang salah semasa
    mengira luas segi empat.</p>
<hr>
<h3 class="code-line" data-line-start=93 data-line-end=94><a id="Kod_Arahan_HTML_93"></a>Kod Arahan HTML</h3>
<p class="has-line-data" data-line-start="94" data-line-end="95">HTML merupakan singkatan bagi <strong><em>Hypertext
    Markup Language</em></strong>. Kod HTML boleh ditaip denggan menggunakan aplikasi Notepad dan disimpan dengan
    sambungan <strong>“.html”</strong> atau <strong>“.htm”</strong>.</p>
<hr>
<h4 class="code-line" data-line-start=98 data-line-end=99><a id="Melakar_papan_cerita_98"></a>Melakar Papan Cerita</h4>
<p class="has-line-data" data-line-start="99" data-line-end="100">Papan cerita ialah siri lakaran yang menggambarkan isi
    kandungan untuk setiap paparan skrin dalam laman sesawang.</p>
<p class="has-line-data" data-line-start="101" data-line-end="102">Langkah-langkah melakar papan cerita ialah:</p>
<ol>
    <li class="has-line-data" data-line-start="102" data-line-end="103">Mengumpul semua maklumat yang dikehendaki</li>
    <li class="has-line-data" data-line-start="103" data-line-end="104">Susun maklumat mengikut topik</li>
    <li class="has-line-data" data-line-start="104" data-line-end="105">Tentukan tajuk utama, tajuk kecil, dan isi
        kandungan setiap laman
    </li>
    <li class="has-line-data" data-line-start="105" data-line-end="106">Rancang struktur maklumat dan pautan lawan
        sesawang
    </li>
    <li class="has-line-data" data-line-start="106" data-line-end="107">Reka bentuk struktur menu</li>
    <li class="has-line-data" data-line-start="107" data-line-end="108">Rancang rupa dan reka bentuk laman</li>
    <li class="has-line-data" data-line-start="108" data-line-end="110">Lakarkan aliran pautan bagi kesemua laman dalam
        tapak sesawang
    </li>
</ol>
<p class="has-line-data" data-line-start="110" data-line-end="111"><img src="{% static 'images/23.png' %}" alt=""></p>
<hr>
<h4 class="code-line" data-line-start=114 data-line-end=115><a id="Tag_dalam_HTML_114"></a>Tag dalam HTML</h4>
<pre><code>&lt;html&gt;&lt;/html&gt;
</code></pre>
<p class="has-line-data" data-line-start="116" data-line-end="117">Tag ini memaklumkan <strong>permulaan fail
    HTML</strong>.</p>
<pre><code>&lt;head&gt;&lt;/head&gt;
</code></pre>
<p class="has-line-data" data-line-start="119" data-line-end="120">Tag ini adalah <strong>bahagian kepala atur cara
    HTML</strong>.</p>
<pre><code>&lt;title&gt;&lt;/title&gt;
</code></pre>
<p class="has-line-data" data-line-start="122" data-line-end="123">Tag ini <strong>memaparkan tajuk laman web</strong>.
</p>
<pre><code>&lt;body&gt;&lt;/body&gt;
</code></pre>
<p class="has-line-data" data-line-start="125" data-line-end="126">Tag ini adalah <strong>bahagian kandungan fail
    HTML</strong>, iaitu kandungan dokumen seperti <strong>teks</strong>, <strong>imej</strong>, <strong>pautan</strong>
    dan sebagainya.</p>
<hr>
<h4 class="code-line" data-line-start=129 data-line-end=130><a id="_Paragraph_headings__dalam_HTML_129"></a><em>Paragraph
    headings</em> dalam HTML</h4>
<p class="has-line-data" data-line-start="130" data-line-end="131"><img src="{% static 'images/24.png' %}" alt=""></p>
<pre><code>&lt;h1&gt;&lt;/h1&gt;
&lt;h2&gt;&lt;/h2&gt;
&lt;h3&gt;&lt;/h3&gt;
&lt;h4&gt;&lt;/h4&gt;
&lt;h5&gt;&lt;/h5&gt;
&lt;h6&gt;&lt;/h6&gt;
</code></pre>
<p class="has-line-data" data-line-start="138" data-line-end="139">Tag <code>&lt;h1&gt;</code> akan memaparkan <strong>saiz
    teks terbesar</strong> manakala <code>&lt;h6&gt;</code> memaparkan <strong>saiz teks terkecil</strong>.</p>
<hr>
<h4 class="code-line" data-line-start=142 data-line-end=143><a id="_Banner___frame__dan__menu__dalam_HTML_142"></a><em>Banner</em>,
    <em>frame</em> dan <em>menu</em> dalam HTML</h4>
<p class="has-line-data" data-line-start="143" data-line-end="145">Berikut menerangkan bahagian <strong><em>banner</em></strong>,
    <strong><em>menu</em></strong> dan <strong><em>frame</em></strong> dalam laman sesawang Kementerian Pendidikan
    Malaysia (KPM).<br>
    <img src="{% static 'images/25.png' %}" alt=""></p>
<ul>
    <li class="has-line-data" data-line-start="145" data-line-end="154"><strong><em>Banner</em></strong> boleh dibina
        mengikut langkah berikut:
        <ol>
            <li class="has-line-data" data-line-start="146" data-line-end="147">Muat turun logo yang diinginkan</li>
            <li class="has-line-data" data-line-start="147" data-line-end="148">Simpan file dalam bentuk
                <code>logo.jpg</code></li>
            <li class="has-line-data" data-line-start="148" data-line-end="149">Taipkan kod arahan asas HTML</li>
            <li class="has-line-data" data-line-start="149" data-line-end="150">Taipkan banner dalam tag <code>&lt;title&gt;&lt;/title&gt;</code>
            </li>
            <li class="has-line-data" data-line-start="150" data-line-end="151">Taipkan <code>&lt;banner&gt;&lt;/banner&gt;</code>
                dalam tag <code>&lt;body&gt;&lt;/body&gt;</code></li>
            <li class="has-line-data" data-line-start="151" data-line-end="152">Taipkan kod arahan <code>&lt;img src=&quot;logo.jpeg&quot;&gt;</code>
                ke dalam <code>&lt;banner&gt;&lt;/banner&gt;</code>.
            </li>
            <li class="has-line-data" data-line-start="152" data-line-end="154">Klik <strong>File &gt; Save As</strong>
                dan pilih folder HTML serta tukar nama dokumen kepada <code>banner.html</code> dan <strong>Save</strong>
            </li>
        </ol>
    </li>
</ul>
<p class="has-line-data" data-line-start="154" data-line-end="159"><strong><em>Frame</em></strong> terdiri daripada
    <strong>ruang melintang dan ruang menegak atau gabungan kedua-duanya</strong>.<br>
    - Bagi <em>frame</em> melintang, atribut <code>rows</code> akan digunakan dalam tag <code>&lt;frameset&gt;</code>.
    Contohnya:<br>
    <img src="{% static 'images/26.png' %}" alt=""><br>
    - Bagi <em>frame</em> menegak, tag <code>cols</code> digunakan dalam tag <code>&lt;frameset&gt;</code>.
    Contohnya:<br>
    <img src="{% static 'images/27.png' %}" alt=""></p>
<p class="has-line-data" data-line-start="160" data-line-end="161"><strong><em>Menu</em></strong> menggunakan
    <em>tags</em> seperti:</p>
<ul>
    <li class="has-line-data" data-line-start="161" data-line-end="162"><code>&lt;nav&gt;&lt;/nav&gt;</code> mentakrif
        pautan laman web <em>(navigation bar)</em></li>
    <li class="has-line-data" data-line-start="162" data-line-end="163"><code>&lt;ul&gt;&lt;/ul&gt;</code> mentakrif
        senarai tak tertib <em>(unordered list)</em></li>
    <li class="has-line-data" data-line-start="163" data-line-end="165"><code>&lt;li&gt;&lt;/li&gt;</code> mentakrif
        item dalam senarai <em>(list item)</em></li>
</ul>
<p class="has-line-data" data-line-start="165" data-line-end="166">Menu boleh dibina mengikut langkah berikut:</p>
<ol>
    <li class="has-line-data" data-line-start="166" data-line-end="167">Taipkan kod arahan asas HTML</li>
    <li class="has-line-data" data-line-start="167" data-line-end="168">Taipkan <code>menu1</code> dalam tag <code>&lt;title&gt;&lt;/title&gt;</code>
        dan klik <strong>File > Save As</strong> <code>Menu1.html</code></li>
    <li class="has-line-data" data-line-start="168" data-line-end="169">Tukar <code>Menu1</code> kepada
        <code>Menu2</code> dan simpan sebagai <code>Menu2.html</code>.
    </li>
    <li class="has-line-data" data-line-start="169" data-line-end="170">Ulang langkah 2 dan 3 untuk hasilkan <code>Menu3.html</code>
        dan <code>Menu4.html</code>.
    </li>
    <li class="has-line-data" data-line-start="170" data-line-end="172">Buka file baharu dan tuliskan kod arahan di
        bawah:<br>
        <img src="{% static 'images/28.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="172" data-line-end="174">Klik <strong>File &gt; Save As</strong> dan
        pilih folder HTML serta tukar nama dokumen kepada <code>menu.html</code> dan <strong>Save</strong></li>
</ol>
<hr>
<h4 class="code-line" data-line-start=176 data-line-end=177><a id="Pautan_teks__hyperlink__dan_imej_dalam_HTML_176"></a>Pautan
    teks <em>(hyperlink)</em> dan imej dalam HTML</h4>
<p class="has-line-data" data-line-start="177" data-line-end="178">Pautan teks dan imej bertindak sebagai <strong>navigasi
    dalam laman sesawang</strong> yang sama atau beberapa laman sesawang dalam tapak sesawang yang sama atau berlainan.
</p>
<p class="has-line-data" data-line-start="179" data-line-end="180">Langkah-langkah membina pautan teks dalam HTML adalah
    seperti berikut:</p>
<ol>
    <li class="has-line-data" data-line-start="180" data-line-end="181">Taipkan kod arahan asas HTML</li>
    <li class="has-line-data" data-line-start="181" data-line-end="183">Taipkan kod seperti berikut:<br>
        <img src="{% static 'images/29.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="183" data-line-end="185">Klik <strong>File &gt; Save As</strong> untuk
        menyimpan dokumen sebagai fail HTML
    </li>
</ol>
<p class="has-line-data" data-line-start="185" data-line-end="186">Langkah-langkah membina pautan imej dalam HTML adalah
    seperti berikut:</p>
<ol>
    <li class="has-line-data" data-line-start="186" data-line-end="187">Taipkan kod arahan asas HTML</li>
    <li class="has-line-data" data-line-start="187" data-line-end="189">Taipkan kod seperti berikut<br>
        <img src="{% static 'images/30.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="189" data-line-end="191">Klik <strong>File &gt; Save As</strong> untuk
        menyimpan dokumen sebagai fail HTML
    </li>
</ol>
<hr>
<h4 class="code-line" data-line-start=193 data-line-end=194><a id="Memasukkan_Imej_dalam_HTML_193"></a>Memasukkan Imej
    dalam HTML</h4>
<p class="has-line-data" data-line-start="194" data-line-end="195">Langkah-langkah memasukkan imej dalam HTML adalah
    seperti berikut:</p>
<ol>
    <li class="has-line-data" data-line-start="195" data-line-end="196">Taipkan kod arahan asas HTML</li>
    <li class="has-line-data" data-line-start="196" data-line-end="197">Pilih satu imej dan namakan sebagai <code>imej.jpeg</code>
    </li>
    <li class="has-line-data" data-line-start="197" data-line-end="199">Taipkan kod seperti di bawah:<br>
        <img src="{% static 'images/31.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="199" data-line-end="201">Klik <strong>File &gt; Save As</strong> untuk
        menyimpan dokumen sebagai fail HTML
    </li>
</ol>
<hr>
<h4 class="code-line" data-line-start=203 data-line-end=204><a id="_Pulldown_menu__dalam_HTML_203"></a><em>Pull-down
    menu</em> dalam HTML</h4>
<p class="has-line-data" data-line-start="204" data-line-end="205"><strong>Pull-down menu</strong> turut dikenali
    sebagai <strong><em>drop-down menu</em></strong>, <strong><em>drop-down list</em></strong> dan <strong><em>drop-down
        box</em></strong>.</p>
<p class="has-line-data" data-line-start="206" data-line-end="207">Tags yang terlibat dalam membina pull-down menu
    ialah:</p>
<ul>
    <li class="has-line-data" data-line-start="207" data-line-end="208"><code>&lt;select&gt;&lt;/select&gt;</code>
        digunakan untuk menghasilkan <em>pull-down menu</em></li>
    <li class="has-line-data" data-line-start="208" data-line-end="210"><code>&lt;option&gt;&lt;/option&gt;</code>
        dimasukkan dalam tag <code>&lt;select&gt;</code> untuk menunjukkan jenis pilihan yang ada.
    </li>
</ul>
<p class="has-line-data" data-line-start="210" data-line-end="211"><em>Pull-down menu</em> boleh dibina mengikut langkah
    berikut:</p>
<ol>
    <li class="has-line-data" data-line-start="211" data-line-end="212">Taipkan kod arahan asas HTML.</li>
    <li class="has-line-data" data-line-start="212" data-line-end="213">Masukkan tag
        <code>&lt;select&gt;&lt;/select&gt;</code> dalam tag <code>&lt;body&gt;&lt;/body&gt;</code>.
    </li>
    <li class="has-line-data" data-line-start="213" data-line-end="215">Taipkan kod seperti di bawah:<br>
        <img src="{% static 'images/32.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="215" data-line-end="217">Ulangi tag
        <code>&lt;option&gt;&lt;/option&gt;</code> untuk 5 jenis buah yang lain seperti ditunjukkan di bawah:<br>
        <img src="{% static 'images/33.png' %}" alt=""></li>
    <li class="has-line-data" data-line-start="217" data-line-end="219">Klik <strong>File &gt; Save As</strong> untuk
        menyimpan dokumen sebagai fail HTML
    </li>
</ol>
<hr>
<h4 class="code-line" data-line-start=221 data-line-end=222><a id="Ruang_Komen_dalam_HTML_221"></a>Ruang Komen dalam
    HTML</h4>
<ul>
    <li class="has-line-data" data-line-start="222" data-line-end="225">Ruang komen bertujuan untuk membolehkan
        pengunjung memberi maklum balas<br>
        <img src="{% static 'images/34.png' %}" alt=""></li>
</ul>
<hr>
<h4 class="code-line" data-line-start=227 data-line-end=228><a id="Mengesan_Ralat_227"></a>Mengesan Ralat</h4>
<p class="has-line-data" data-line-start="228" data-line-end="229">Langkah-langkah untuk mengesan ralat pada atur cara
    ialah:</p>
<ul>
    <li class="has-line-data" data-line-start="229" data-line-end="230"><strong>Uji-lari <em>(Test run)</em></strong>
        atur cara yang dibina
    </li>
    <li class="has-line-data" data-line-start="230" data-line-end="231"><strong>Bandingkan</strong> laman sesawang yang
        dipaparkan oleh pelayar web dengan apa yang dijangkakan
    </li>
    <li class="has-line-data" data-line-start="231" data-line-end="232">Kenal pasti ralat</li>
    <li class="has-line-data" data-line-start="232" data-line-end="233"><strong>Teliti-semula <em>(Check
        back)</em></strong> kod-kod HTML
    </li>
    <li class="has-line-data" data-line-start="233" data-line-end="235"><strong>Baiki Ralat</strong> pada atur cara HTML
    </li>
</ul>
<hr>
<h4 class="code-line" data-line-start=237 data-line-end=238><a id="Membina_Laman_Sesawang_yang_Interaktif_237"></a>Membina
    Laman Sesawang yang Interaktif</h4>
<p class="has-line-data" data-line-start="238" data-line-end="239">Ringkasan langkah-langkah untuk membina laman
    sesawang interaktif ialah:</p>
<ol>
    <li class="has-line-data" data-line-start="239" data-line-end="240">Pilih topik dan tajuk laman sesawang</li>
    <li class="has-line-data" data-line-start="240" data-line-end="241">Kumpulkan maklumat-maklumat</li>
    <li class="has-line-data" data-line-start="241" data-line-end="242">Lancarkan perisian aplikasi Notepad</li>
    <li class="has-line-data" data-line-start="242" data-line-end="243">Layari laman sesawang yang telah dibina</li>
    <li class="has-line-data" data-line-start="243" data-line-end="244">Baiki ralat (sekiranya ada)</li>
    <li class="has-line-data" data-line-start="244" data-line-end="245">Layari Internet</li>
    <li class="has-line-data" data-line-start="245" data-line-end="246">Muat naik fail</li>
    <li class="has-line-data" data-line-start="246" data-line-end="247">Lawat tapak sesawang yang telah siap dibina</li>
</ol>
{% endblock material %}