{% extends 'curriculum/base.html'%}
{% load static %}

{% block material %}
<p class="has-line-data" data-line-start="0" data-line-end="1">Terdapat beberapa sistem nombor yang sering digunakan dalam pembangunan aturcara seperti:</p>
<ul>
<li class="has-line-data" data-line-start="1" data-line-end="2">sistem nombor perduaan (sistem <strong>binari</strong>)</li>
<li class="has-line-data" data-line-start="2" data-line-end="3">sistem nombor perlapanan (sistem <strong>oktal</strong>)</li>
<li class="has-line-data" data-line-start="3" data-line-end="4">sistem nombor perpuluhan (sistem <strong>desimal</strong>)</li>
<li class="has-line-data" data-line-start="4" data-line-end="6">sistem nombor perenambelasan (sistem <strong>hexadesimal</strong>)</li>
</ul>
<hr>
<h3 class="code-line" data-line-start=8 data-line-end=9><a id="Sistem_Nombor_Perduaan_8"></a>Sistem Nombor Perduaan</h3>
<ul>
<li class="has-line-data" data-line-start="9" data-line-end="10">dikenali sebagai <strong>sistem asas 2</strong> atau <strong>sistem nombor binari</strong> <em>(binary number system)</em></li>
<li class="has-line-data" data-line-start="10" data-line-end="11">menggunakan <strong>0 dan 1</strong> untuk mewakili data</li>
<li class="has-line-data" data-line-start="11" data-line-end="13">Nilai sesuatu digit dalam sistem perduaan bergantung kepada nilai tempatnya dalam nombor yang berkenaan</li>
</ul>
<hr>
<h3 class="code-line" data-line-start=15 data-line-end=16><a id="Sistem_Nombor_Perlapanan_15"></a>Sistem Nombor Perlapanan</h3>
<ul>
<li class="has-line-data" data-line-start="16" data-line-end="17">dikenali sebagai <strong>sistem asas 8</strong> atau <strong>sistem nombor oktal</strong> <em>(octal number system)</em></li>
<li class="has-line-data" data-line-start="17" data-line-end="18">mempunyai lapan digit pilihan digit daripada <strong>0 hingga 7</strong></li>
<li class="has-line-data" data-line-start="18" data-line-end="20">nombor perduaan yang lebih panjang dapat diwakili dengan nombor perlapanan yang lebih pendek dan kemas</li>
</ul>
<hr>
<h3 class="code-line" data-line-start=22 data-line-end=23><a id="Sistem_Nombor_Perpuluhan_22"></a>Sistem Nombor Perpuluhan</h3>
<ul>
<li class="has-line-data" data-line-start="23" data-line-end="24">dikenali sebagai <strong>sistem asas 10</strong> atau <strong>sistem desimal</strong> <em>(decimal number system)</em></li>
<li class="has-line-data" data-line-start="24" data-line-end="25">mempunyai sepuluh pilihan digit, iaitu daripada <strong>0 hingga 9</strong>.</li>
<li class="has-line-data" data-line-start="25" data-line-end="27">Nilai sesuatu digit dalam sistem perpuluhan dikira dengan mendarabkannya dengan nilai tempatnya.</li>
</ul>
<hr>
<h3 class="code-line" data-line-start=29 data-line-end=30><a id="Sistem_Nombor_Perenambelasan_29"></a>Sistem Nombor Perenambelasan</h3>
<ul>
<li class="has-line-data" data-line-start="30" data-line-end="31">dikenali sebagai <strong>sistem asas 16</strong> atau <strong>sistem nombor heksadesimal</strong> <em>(hexadecimal number system)</em></li>
<li class="has-line-data" data-line-start="31" data-line-end="32">menggunakan sepuluh digit dan enam abjad, iaitu <strong>0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E</strong> dan <strong>F</strong></li>
<li class="has-line-data" data-line-start="32" data-line-end="33">menggunakan untuk <strong>mewakili warna pada alatan digital dalam model warna RGB</strong></li>
<li class="has-line-data" data-line-start="33" data-line-end="35">menyimpan data dengan lebih cekap dan efisien</li>
</ul>
<hr>
<h3 class="code-line" data-line-start=37 data-line-end=38><a id="Ukuran_data_37"></a>Ukuran data</h3>
<ul>
<li class="has-line-data" data-line-start="38" data-line-end="39"><strong>Imej digital</strong> ialah gambar yang dirakam dan disimpan dalam bentuk pola-pola bit (0 dan 1).</li>
<li class="has-line-data" data-line-start="39" data-line-end="41"><strong>Audio digital</strong> ialah isyarat bunyi yang telah ditukar kepada nombor perduaan dan disimpan dalam bentuk pola-pola bit.</li>
</ul>
<h4 class="code-line" data-line-start=41 data-line-end=42><a id="Unit_ukuran_bagi_imej_digital_41"></a>Unit ukuran bagi imej digital</h4>
<p class="has-line-data" data-line-start="42" data-line-end="43">Ukuran bagi imej digital mempunyai <strong>tiga</strong> jenis iaitu:</p>
<ul>
<li class="has-line-data" data-line-start="44" data-line-end="47">
<p class="has-line-data" data-line-start="44" data-line-end="46"><strong>Resolusi</strong> sesuatu imej merujuk kepada <strong>bilangan piksel yang terdapat pada imej</strong> tersebut. Unitnya ialah <em>dpi</em> <em>(dots per inch)</em>.<br>
<img src="{% static 'images/4.png' %}" alt=""></p>
</li>
<li class="has-line-data" data-line-start="47" data-line-end="50">
<p class="has-line-data" data-line-start="47" data-line-end="49"><strong>Dimensi</strong> sesuatu imej ialah <strong>ukuran panjang dan lebar imej</strong> dalam unit piksel. Dimensi biasanya dinyatakan dalam bentuk <strong>bilangan piksel panjang darab bilangan piksel lebar</strong>.<br>
<img src="{% static 'images/5.png' %}" alt=""></p>
</li>
<li class="has-line-data" data-line-start="50" data-line-end="53">
<p class="has-line-data" data-line-start="50" data-line-end="52"><strong>Kedalaman bit warna</strong> ialah <strong>bilangan bit 0 dan 1 yang digunakan untuk menandakan satu warna yang tertentu dalam sesuatu imej</strong> digital.Lebih banyak bit yang digunakan, maka <strong>lebih tinggi</strong> kedalaman bit warna, <strong>lebih berkualiti</strong> imej tersebut.<br>
<img src="{% static 'images/6.png' %}" alt=""></p>
</li>
</ul>
<h4 class="code-line" data-line-start=53 data-line-end=54><a id="Unit_Ukuran_bagi_Audio_Digital_53"></a>Unit Ukuran bagi Audio Digital</h4>
<ul>
<li class="has-line-data" data-line-start="54" data-line-end="57"><strong>Kadar sampel</strong> ialah <strong>bilangan sampel sesaat yang diambil oleh alat <em>ADC</em> <em>(Analog-to-Digital Converter)</em> semasa melakukan pendigitalan sesuatu audio analog</strong>. Unitnya ialah <strong><em>Hertz</em> <em>(Hz)</em></strong>.<br>
<img src="{% static 'images/7.png' %}" alt=""><br>
<img src="{% static 'images/8.png' %}" alt=""></li>
<li class="has-line-data" data-line-start="57" data-line-end="61"><strong>Kedalaman bit</strong> ialah <strong>bilangan bit (0 dan 1) yang digunakan untuk mewakili aras rakaman setiap sampel audio</strong> Unitnya <strong><em>bit per sampel</em></strong>.<br>
<img src="{% static 'images/9.png' %}" alt=""><br>
<img src="{% static 'images/10.png' %}" alt=""></li>
</ul>
<h3 class="code-line" data-line-start=61 data-line-end=62><a id="Perkaitan_Saiz_Fail_Imej_dengan_Format_Fail_61"></a>Perkaitan Saiz Fail Imej dengan Format Fail</h3>
<p class="has-line-data" data-line-start="62" data-line-end="63">Empat contoh fail imej yang sering digunakan dalam Internet:</p>
<ul>
<li class="has-line-data" data-line-start="63" data-line-end="64"><em>Joint Photographic Experts Groups (JPEG)</em></li>
<li class="has-line-data" data-line-start="64" data-line-end="65"><em>Graphics Interchange Format (GIF)</em></li>
<li class="has-line-data" data-line-start="65" data-line-end="66"><em>Bitmap (BMP)</em></li>
<li class="has-line-data" data-line-start="66" data-line-end="68"><em>Tagged Image File Format (TIFF)</em></li>
</ul>
<h3 class="code-line" data-line-start=68 data-line-end=69><a id="Perkaitan_antara_Kualiti_Saiz_Kedalaman_Warna__colour_depth__dan_Resolusi_Imej_68"></a>Perkaitan antara Kualiti, Saiz, Kedalaman Warna <em>(colour depth)</em> dan Resolusi Imej</h3>
<p class="has-line-data" data-line-start="69" data-line-end="70">Kualiti dan saiz imej dipengaruhi oleh kedalaman warna, resolusi dan dimensi imej. <strong>Lebih tinggi resolusi, dimensi dan kedalaman bit warna maka lebih tinggi keperincian sesuatu imej dan memberikan imej yang jelas, tajam dan menarik.</strong></p>
<p class="has-line-data" data-line-start="71" data-line-end="72">Lebih tinggi resolusi dan dimensi, lebih banyak piksel digunakan untuk membentuk imej. Lebih banyak piksel bermakna lebih banyak bit dan bait diperlukan untuk menyimpan maklumat tentang piksel-piksel dalam imej dan menyebabkan saiz imej besar.</p>
<p class="has-line-data" data-line-start="73" data-line-end="74">Lebih tinggi kedalaman bit warna sesuatu imej, semakin tinggi piksel per bit (ppb) imej. Lebih banyak bit dan bait diperlukan untuk menyimpan maklumat piksel imej dan menjadikan saiz imej besar.</p>
<h3 class="code-line" data-line-start=75 data-line-end=76><a id="Perhubungan_antara_Saiz_Audio_dengan_Kadar_Kedalaman_Bit__bit_depth__75"></a>Perhubungan antara Saiz Audio dengan Kadar Kedalaman Bit <em>(bit depth)</em></h3>
<p class="has-line-data" data-line-start="76" data-line-end="77">Kadar kedalaman bit menunjukkan jumlah bilangan bit yang diproseskan bagi setiap saat audio itu dimain balik. Kebiasaannya kadar kedalaman bit diukur dalam <strong><em>bit per saat (bps)</em></strong>.</p>
<p class="has-line-data" data-line-start="78" data-line-end="81">Cara mengukur kadar kedalaman bit:<br>
<img src="{% static 'images/11.png' %}" alt=""><br>
Terdapat dua jenis saluran audio iaitu:</p>
<ol>
<li class="has-line-data" data-line-start="81" data-line-end="82"><strong>Audio mono</strong></li>
<li class="has-line-data" data-line-start="82" data-line-end="84"><strong>Audio stereo</strong></li>
</ol>
<p class="has-line-data" data-line-start="84" data-line-end="85">Audio mono dikeluarkan melalui <strong>satu saluran</strong> manakala audio stereo dikeluarkan melalui <strong>dua saluran</strong> audio.</p>
<h3 class="code-line" data-line-start=86 data-line-end=87><a id="Saiz_Fail_dan_Kualiti_untuk_Audio_yang_Sama_dalam_Pelbagai_Format_Fail_86"></a>Saiz Fail dan Kualiti untuk Audio yang Sama dalam Pelbagai Format Fail</h3>
<p class="has-line-data" data-line-start="87" data-line-end="88">Format-format fail audio menggunakan teknik yang berbeza untuk menyimpan data audio. Teknik yang diguna untuk pemampatan akan mempengaruhi kualiti audio dan saiz fail audio.</p>
<p class="has-line-data" data-line-start="89" data-line-end="90">Antara jenis-jenis fail audio ialah:</p>
<ol>
<li class="has-line-data" data-line-start="90" data-line-end="91"><strong><em>Waveform Audio File Format (WAVE / WAV)</em></strong></li>
<li class="has-line-data" data-line-start="91" data-line-end="92"><strong><em>MPEG Layer III (MP3)</em></strong></li>
<li class="has-line-data" data-line-start="92" data-line-end="94"><strong><em>Musical Instrument Digital Interface (MIDI)</em></strong></li>
</ol>
<h3 class="code-line" data-line-start=94 data-line-end=95><a id="Penukaran_Saiz_Data_dari_Bit_ke_Bait_KilobaitMegabaitGigabait_dan_Terabait_bagi_Fail_Audio_dan_Imej_94"></a>Penukaran Saiz Data dari Bit ke Bait, Kilobait,Megabait,Gigabait dan Terabait bagi Fail Audio dan Imej</h3>
<p class="has-line-data" data-line-start="95" data-line-end="96">Unit data terkecil bagi komputer ialah <strong>bit</strong>. Unit storan data ialah <strong>bit</strong>, <strong>bait</strong>, <strong>kilobait (KB)</strong>, <strong>megabait (MB)</strong>, <strong>gigabait (GB)</strong> dan <strong>terabait (TB)</strong>.</p>
<pre><code class="has-line-data" data-line-start="97" data-line-end="103">1 bait = 1 bit
1 kilobit = 1024 bit
1 megabit = 1024 bit
1 gigabit = 1024 bit
1 terabit = 1024 bit
</code></pre>
<p class="has-line-data" data-line-start="104" data-line-end="106">Saiz fail audio digital boleh dikira dengan cara:<br>
<img src="{% static 'images/12.png' %}" alt=""></p>
{% endblock material %}